In [6]:
import pandas as pd
# Read the category csv
Cats = pd.read_csv('households_hhids_consumption_categories.csv',delimiter=",")
#print(Cats)
# Find our categories
Cats_names = Cats["consumption_cat"].unique()
#print(Cats_names)
# List all ids within categories and make a meta-list
Cats_IDs_list=[]
for i in range(0,len(Cats_names)):
    Cats_IDs = Cats['hhid'].loc[Cats['consumption_cat'] == Cats_names[i]]
    Cats_IDs_list.append(Cats_IDs)

In [7]:
import pandas as pd


csv_file = "peoplesun_hh_anon.csv"

# Read PeopleSuN csv file
Hh_Table = pd.read_csv(csv_file,low_memory=False)


def calculate_statistics(ids, df):
    """ Function to calculate statistics for a given list of household IDs
    """
    # Filter the DataFrame for the given IDs in a category
    filtered_Hh_Table = df[df['hhid'].isin(ids)]
    
    # Calculate statistics mainly just mean
    age_mean = filtered_Hh_Table['q106'].mean() #age
    #education_distribution = filtered_Hh_Table['q209'].value_counts(normalize=True) * 100 #education
    education = filtered_Hh_Table['q209'].mean()#education
    number_of_heads = (filtered_Hh_Table['q203_1']+filtered_Hh_Table['q203_2']+filtered_Hh_Table['q203_3']+filtered_Hh_Table['q203_4']).mean() #number of adults
    number_of_bikes = filtered_Hh_Table['q207_2'].mean()
    
    # Return a dictionary of statistics
    return {
        'Average Age': age_mean,
        #'Education Distribution (%)': education_distribution.to_dict(),  # Convert series to dict
        'Education': education,
        'Average Number of Heads': number_of_heads,
        'Average Number of Bikes': number_of_bikes
    }

# Lists of IDs
lists = Cats_IDs_list
list_names = Cats_names

# Initialize an empty DataFrame for the results
results_df = pd.DataFrame()

# Calculate and store statistics for each list
for list_, name in zip(lists, list_names):
    stats = calculate_statistics(list_, Hh_Table)
    # Convert stats to a DataFrame and transpose it
    stats_df = pd.DataFrame([stats], index=[name]).transpose()
    # Merge with the results DataFrame
    results_df = pd.concat([results_df, stats_df], axis=1)

# Display the final table
print(results_df)

                          Very Low        Low     Middle       High  Very High
Average Age              41.014559  42.972973  44.110169  44.823529  47.355556
Education                14.415378  16.236131  18.338983  20.598039  20.555556
Average Number of Heads   6.781165   6.768137   7.317797   7.754902   9.155556
Average Number of Bikes   0.533212   0.623044   0.563559   0.382353   0.555556

In [8]:
results_df # Display nicer

                          Very Low        Low     Middle       High  Very High
Average Age              41.014559  42.972973  44.110169  44.823529  47.355556
Education                14.415378  16.236131  18.338983  20.598039  20.555556
Average Number of Heads   6.781165   6.768137   7.317797   7.754902   9.155556
Average Number of Bikes   0.533212   0.623044   0.563559   0.382353   0.555556